/* .slider-container {
  width: 80%;
  margin: auto;
}

.slick-slide img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover; /* Ensure images cover the area while maintaining aspect ratio 
  padding: 10px;
  
 
*/

.slider-container {
  width: 80%;
  padding: 20px;
  margin: auto;
}

.slick-slide {
  display: flex;
  justify-content: center;
}
