@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #3689e3;
  --secondary-color: #f9f9f9;
  --tertiary-color: #f4f4f4;
  --dark-color: #333;
  --light-color: #fff;
}

input::placeholder {
  color: white; /* Change to your desired color */
  font-style: italic; /* Optional styling */
}

.logo {
  width: 70px;
  height: 70px;
  display: block;
  margin-left: 30px;
  padding: 10px 10px;
}

.btn {
  background-color: #3689e3;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}
.btn-visit {
  background-color: #3689e3;
  color: black;
  padding: 8px 14px;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
}

.active {
  color: gray;
}
