@import "https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

:root {
  --primary-color: #3689e3;
  --secondary-color: #f9f9f9;
  --tertiary-color: #f4f4f4;
  --dark-color: #333;
  --light-color: #fff;
}

.logo {
  width: 70px;
  height: 70px;
  display: block;
  margin-left: 30px;
  padding: 10px 10px;
}

.btn {
  background-color: #3689e3;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}
.btn-visit {
  background-color: #3689e3;
  color: black;
  padding: 8px 14px;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
}

.active {
  color: gray;
}
